body {
    background: #fff;
}
.navbar {
    box-shadow: 0px 1px 5px 0px rgba(217,219,224,1);
}
.bg-blue{
    background-color: #3c8dbc;
}
.content {
    margin-top: 45px;
    margin-bottom: 45px;
}
.navbar-blue{
    color: #fff;
}
.navbar-blue .navbar-brand{
    background-color: #367fa9;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #fff;
    font-weight: 600;

    padding-right: 15px;
    padding-left: 15px;
    margin: 0;
}
.navbar-blue .navbar-nav .nav-link {
    color: #fff;
    padding-left: 15px;
}

.navbar-blue .navbar-nav .active>.nav-link, .navbar-blue .navbar-nav .nav-link.active, .navbar-blue .navbar-nav .nav-link.show, .navbar-blue .navbar-nav .show>.nav-link {
    color: #fff;
    background-color: #367fa9;
}
.navbar-blue .navbar-nav .nav-link.disabled{
    color: #ffffff73;
}
.navbar-blue .navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-blue .dropdown-menu{
    top:45px;
    border-radius: 0;
}

.navbar-blue .dropdown-item.active, .navbar-blue .dropdown-item:active {
    background-color: #367fa9; 
}

.navbar-blue .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

.footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    font-size: 12px;
}

.breadcrumb-ab{
    font-size: 12px;
    display: -webkit-box;
    list-style: none;
    background:none;
}

.dataTables_length{
    display: none;
}

#tabela-usuarios_wrapper{
    padding: .25rem!important;
}