body {
    background: #fff;
}
.navbar {
    box-shadow: 0px 1px 5px 0px rgba(217,219,224,1);
}
.content {

}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f5f5f5;
}