<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}">
    <head>
        <title>ABSoft - Dashboard</title>
    </head>
    <th:block layout:fragment="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"></li>
    </th:block>

    <h1 layout:fragment="titulo">Dashboard</h1>

    <section layout:fragment="conteudo">
        Conteudo aqui
    </section>
</html>